.inbound-button {
  padding: 0;
  margin: 1px 0 0 6px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.dialog {
  border: none;
  padding: 0;
  background: transparent;
  max-width: 80vw;
  max-height: 80vh;
}
