.sync-container {
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  background: var(--token-main-surface-secondary);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: sans-serif;
  font-size: 0.75rem;
  color: var(--token-text-secondary);
  margin-right: 4px;
  cursor: pointer;
}

.sync-button {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background: transparent;
  border: 0;
}
