/* Container */
.tree-container {
  height: 100%;
  background: #1e1e1e;
  border-radius: 4px;
  font-size: 13px;
  color: #e6e6e6;
}

/* File Items */
.file-item {
  position: relative;
  transition: background-color 0.1s ease;
  padding: 4px 8px 4px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
}

.file-item:hover {
  background-color: rgba(43, 87, 154, 0.267);
}

.file-item[data-selected="true"],
.file-item.selected {
  background-color: #2b579a;
  color: white;
}

.file-item[data-selected="true"]:hover,
.file-item.selected:hover {
  background-color: rgba(43, 87, 154, 0.867);
}

/* Directory Items */
.dir-item {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
}

.dir-item:hover {
  background-color: rgba(43, 87, 154, 0.267);
}

.dir-item.selected {
  background-color: #2b579a;
  color: white;
}

.dir-item.selected:hover {
  background-color: rgba(43, 87, 154, 0.867);
}

/* Directory Hierarchy */
.dir-contents {
  padding-left: 12px;
}

.dir-item.root {
  padding-left: 8px;
}

.dir-item:not(.root) {
  padding-left: 12px;
}

.dir-contents.root {
  --indent: 0px;
  padding-bottom: 20px;
}

.dir-contents:not(.root) {
  --indent: 0px;
  margin-left: var(--indent);
}

/* Icons */
.dir-item span:first-child {
  width: 12px;
  text-align: center;
}

/* Metadata */
.file-meta {
  color: var(--meta-color, #666);
  font-size: 0.8em;
}

.file-item.selected .file-meta {
  --meta-color: #ccc;
}

/* Messages */
.message {
  padding: 8px 24px;
}

.error-message {
  padding: 8px 24px;
  color: #f14c4c;
}